@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  
}

body {
  background: #040327;
  overflow-x: hidden;
}

input {
  color: #FFF;
}

/* BANNER */

#banner header{
  margin-top: 2.4rem;
  margin-left: 10.4rem;
}

header img {
  height: 4rem;
}

.main-info {
  margin-top: 3rem;
  margin-left: 10.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.text-info h2{
  color: #F5D15F;
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.text-info h1{
  color: #FFF;
  font-size: 6.2rem;
  font-weight: 800;
}

.text-info p{
  margin-top: 2rem;
  color: #D5D5DB;
  font-size: 2rem;
  font-weight: 400;
}

.text-info button {
  padding: 1rem 5rem;
  margin-top: 2rem;
  background: #E85937;
  border: none;
  border-radius: 0.4rem;
  color: #FFF;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
}

.astronaut-img {
  transform: translate(1rem, -9rem);
}

.astronaut-img img {
  height: 50rem;
}

#banner footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10.4rem;
}

.informative-card1 img, .informative-card2 img, .informative-card3 img {
 height: 5rem;
}

.informative-card1, .informative-card2 p {
  max-width: 21.6rem;
  color: #D5D5DB;
  font-size: 1.6rem;
}

.informative-card3 p {
  max-width: 164px;
  color: #D5D5DB;
  font-size: 1.6rem;
}

/* ABOUT US */

#about-us {
  background: linear-gradient(180deg, #040327 0%, #0D0E13 24.49%);
}

.stars-about {
  background: url(assets/stars-about.svg);
  background-size: cover;
}

.mars-container {
  padding-top: 7.5rem;

  background: url(assets/lineslines.svg);
  background-repeat: no-repeat;
  background-position: 0 10rem;
  background-size: 50rem;
}

.mars {
  height: 60rem;
  margin-left: 10.4rem;
}

.mars-info {
  margin-right: 10.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mars-text{
  max-width: 60rem;
  margin-left: 8rem;
}

.mars-text h3 {
  color: #F5D15F;
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.mars-text h2 {
  font-size: 3.2rem;
  color: #FFF;
  padding: 2rem 0;
}

.mars-text p {
  font-size: 1.6rem;
  color: #D5D5DB;
  padding: 2rem 0;
}

.learn-more {
  margin-left: 10.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15rem 0 20rem;
}

.simple-text img{
  height: 4rem;
}

.simple-text h2{
  font-size: 3rem;
  color: #FFF;
  font-weight: 700;

  padding: 2rem 0;
}

.simple-text a {
  color: #FF8C70;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.6rem;
}

.carrousel  {
  display: flex;
  gap: 2.4rem;
  overflow-x: auto;
  width: 100%;
  margin-left: 20rem;
}

.carrousel img{
  height: 25rem;
}



/*FORM SECTION*/
 
#form-section {
  background: #0D0E13;
}

.form-container {
  background: url(assets/stars-form.svg);
  background-size: cover;
}

.form-main-content {
  display: flex;
  justify-content: space-between;
  margin: 0 10.4rem
}

.rocket-img img {
  height: 90rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  height: 70rem;
  width: 45rem;
  
  
  background: #0E0D40;
  color: #FFF;

  border-radius: 2rem;

  padding: 5rem;
}

.content img {
  align-self: flex-start;
}

.content h3 {
  font-weight: 500;
  font-size: 2.4rem;
  max-width: 25rem;
}

.content p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  max-width: 27rem;
  opacity: 70%;
  padding: 1rem 0;
}

.content label {
  font-weight: 400;
  font-size: 1.4rem;
  color: #FFF;
}

.content input {
  height: 4rem;
  border: 0.1rem solid #D5D5DB;
  background: transparent;
  border-radius: 0.5rem;
}

.content button {
  height: 5rem;
  color: #FFF;
  font-weight: 700;
  background: #E85937;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="checkbox"] + label {
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
  padding-left: 3rem;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 0;
  bottom: 0.15rem;
  border: 0.15rem solid #FFF;
  border-radius: 0.5rem;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 0.8rem;
  bottom: 0.8rem;
  width: 0.3rem;
  height: 0.8rem;
  border-right: solid 0.15rem #FFF;
  border-bottom: solid 0.15rem #FFF;
  transform: rotate(45deg);
}

form img {
  height: 4.8rem;
}

.spacey {
  height: 4rem;
}
 
nav {
  margin: 0 10.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

ul {
  display: flex;
  gap: 3.2rem;
  list-style-type: none;
}

.social-icons {
  display: flex;
  gap: 2.4rem;
}

li a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}

.social-icons img {
  height: 2rem;
  cursor: pointer;
}

.smoke-img img{
  max-width: 100%;
}

/*MEDIA QUERIES*/

/*Desktops: (min-width: 1281px)
Laptops, desktops: (min-width: 1025px) and (max-width: 1280px)
Tablets, ipads: (min-width: 768px) and (max-width: 1024px)
Tablets de baixa resolução, celulares: (min-width: 482px) and (max-width: 767px)
A maioria dos smartphones móveis: (min-width:320px) and (max-width: 480px)*/

@media (max-width: 1205px) {

  html {
    font-size: 55%;
    overflow-x: hidden;
  }

}

@media (max-width: 1060px) {

  html {
    font-size: 45%;
  }
}

@media (max-width: 970px) {

  html {
    font-size: 40%;
  }
}

@media (max-width: 860px) {
  html {
    font-size: 50%;
  }

  #banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-info {
    margin-left: 0;
    justify-content: space-evenly;
    flex-direction: column;

    text-align: center;
    max-width: 60rem;
  }
 

  .astronaut-img{
    margin: 5rem 0;
    transform: translate(0, 0);
  }

  #banner header {
    margin-left: 0;
  }

  #banner footer {
    gap: 5rem;
    flex-direction: column;
  }

  .informative-card1 img, .informative-card2 img, .informative-card3 img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21.6rem;
    margin-bottom: 2rem;
   }
  
   .informative-card1 p, .informative-card2 p, .informative-card3 p {
    text-align: center;
   }

  .informative-card3 p {
    max-width: 21.6rem;
  }

  .mars-container {
    background-position: 0 0;
    background-size: 60rem;
  }

  .mars-info {
    justify-content: center;
    flex-direction: column;
  }

  .mars-text {
    text-align: center;
  }

  .learn-more {
    justify-content: center;
    flex-direction: column;
    padding: 15rem 0;

    margin-left: 0;

    text-align: center;
  }

  .carrousel {
    margin-top: 5rem;
    margin-left: 5rem;
  }

  form {
    padding-bottom: 10rem;
  }

  .form-main-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 ;
  }

  nav {
    flex-direction: column;
    gap: 2.5rem;
  }
  
}


@media (max-width: 640px) {
  html {
    font-size: 45%;
  }
  
}

@media (max-width: 580px) {
  html {
    font-size: 40%;
  }
  
}

@media (max-width: 385px) {
  html {
    font-size: 30%;
  }
  
}
